In [145]:
import pandas as pd1
import numpy as np
df =pd1.read_csv("sales3.csv")
df

,Customer_Number,Customer_Name,2016,2017,Percent_Growth,Jan_Units,Month,Day,Year,Active
0,10001,Quest Industries,"$125,000.00",$162500.00,30.00%,500,1,10,2015,Y
1,10002,kara Industries,"$125,000.00",$162500.00,60.00%,500,1,10,2015,Y
2,10003,Dabu Industries,"$154,000.00",$642500.00,50.00%,closed,1,10,2015,N

In [69]:
df.dtypes

Customer_Number     int64
Customer_Name      object
2016               object
2017               object
Percent_Growth     object
Jan_Units           int64
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [109]:
#because object is  a string
df['2016']+df['2017']

0    $125,000.00$162500.00
1    $125,000.00$162500.00
2    $154,000.00$642500.00
dtype: object

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 10 columns):
Customer_Number    3 non-null int64
Customer_Name      3 non-null object
2016               3 non-null object
2017               3 non-null object
Percent_Growth     3 non-null object
Jan_Units          3 non-null int64
Month              3 non-null int64
Day                3 non-null int64
Year               3 non-null int64
Active             3 non-null object
dtypes: int64(5), object(5)
memory usage: 320.0+ bytes

In [61]:
df['Customer_Number']

0    10001
1    10002
Name: Customer_Number, dtype: int64

In [58]:
df['Customer_Name']

0    Quest Industries
1     kara Industries
Name: Customer_Name, dtype: object

In [110]:
df['Customer_Number'].astype('int')
#To actually change use:
df['Customer_Number']=df['Customer_Number'].astype('int')
df.dtypes

Customer_Number     int32
Customer_Name      object
2016               object
2017               object
Percent_Growth     object
Jan_Units          object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [146]:
df['2016']
df['2016'].astype('float')

ValueError: could not convert string to float: '$154,000.00'

In [87]:
df['Jan_Units'].astype('int')
#the last value is 'closed'

ValueError: invalid literal for int() with base 10: 'closed'

In [84]:
df['Active'].astype('bool')

0    True
1    True
2    True
Name: Active, dtype: bool

In [119]:
df['2016']

0    $125,000.00
1    $125,000.00
2    $154,000.00
Name: 2016, dtype: object

In [148]:
def convert_currency(val1):
    new_val = val1.replace(',','').replace('$', '')
    return float(new_val)

df['2016']=df['2016'].apply(convert_currency)

df['2016']

0    125000.0
1    125000.0
2    154000.0
Name: 2016, dtype: float64

In [137]:
df['Percent_Growth']

0    30.00%
1    60.00%
2    50.00%
Name: Percent_Growth, dtype: object

In [138]:
def convert_percent(val):   
    """
    Convert the percentage string to an actual floating point percent
    - Remove %
    - Divide by 100 to make decimal
    """
    new_val = val.replace('%', '')
    return float(new_val) / 100

df['Percent_Growth'].apply(convert_percent)

0    0.3
1    0.6
2    0.5
Name: Percent_Growth, dtype: float64

In [139]:
df

,Customer_Number,Customer_Name,2016,2017,Percent_Growth,Jan_Units,Month,Day,Year,Active
0,10001,Quest Industries,"$125,000.00",$162500.00,30.00%,500,1,10,2015,Y
1,10002,kara Industries,"$125,000.00",$162500.00,60.00%,500,1,10,2015,Y
2,10003,Dabu Industries,"$154,000.00",$642500.00,50.00%,closed,1,10,2015,N

In [140]:

df["Start_Date"] = pd.to_datetime(df[['Month', 'Day', 'Year']])

In [66]:
df.head()

,Customer_Number,Customer_Name,2016,2017,Percent_Growth,Jan_Units,Month,Day,Year,Active,Start_Date
0,10001,Quest Industries,"$125,000.00",$162500.00,30.00%,500,1,10,2015,Y,2015-01-10
1,10002,kara Industries,"$125,000.00",$162500.00,30.00%,500,1,10,2015,Y,2015-01-10

In [141]:
df.dtypes

Customer_Number             int64
Customer_Name              object
2016                       object
2017                       object
Percent_Growth             object
Jan_Units                  object
Month                       int64
Day                         int64
Year                        int64
Active                     object
Start_Date         datetime64[ns]
dtype: object

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3 entries, (10002, Quest Industries) to (10004, Jogi Industries)
Data columns (total 10 columns):
Customer Number    3 non-null object
Customer Name      3 non-null object
2016               3 non-null object
2017               3 non-null object
Percent Growth     3 non-null object
Jan Units          3 non-null object
Month              3 non-null int64
Day                3 non-null int64
Year               3 non-null int64
Active	            3 non-null object
dtypes: int64(3), object(7)
memory usage: 326.0+ bytes

In [143]:
df['Customer_Name']

0    Quest Industries
1     kara Industries
2     Dabu Industries
Name: Customer_Name, dtype: object