In [9]:
import numpy as np
import pandas as pd
df = pd.read_csv("sales2.csv")
df

  Customer_Number,Customer_Name,2016,2017,Percent_Growth,Jan_Units,Month,Day,Year,Active
0  10002,Quest Industries,"$125,000.00","$162500....
1  552278,Smith Plumbing,"$920,000.00","$101,2000...
2  23477,ACME Industrial,"$50,000.00",$62500.00,2...
3  24900,Brekke LTD,"$350,000.00",$490000.00,4.00...
4  651029,Harbor Co,"$15,000.00",$12750.00,-15.00...

In [10]:
df.dtypes

Customer_Number,Customer_Name,2016,2017,Percent_Growth,Jan_Units,Month,Day,Year,Active    object
dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active    5 non-null object
dtypes: object(1)
memory usage: 120.0+ bytes