ML-DL course (Lecture-**basics of Python**)

###Data Type

In [ ]:
# comment , sinlge line 
i=10.1
i

10.1

In [ ]:
print(i)
print(type(i))

10.1
<class 'float'>

In [ ]:
f1 = "India is Great"
print(f1)
print(type (f1))

India is Great
<class 'str'>

In [ ]:
print(f1)
del f1
print (f1)

India is Great

NameError: ignored

In [ ]:
a=10
b=20
c=30
# multiple command in same line
x=10;y=20;z=30
#span single command in multiple lines
a\
=\
200
print (a)

200

Memory Allocation

In [ ]:
# to check the memory address of a variable 
i1=10
print(id(i1), "  " ,type(i1) , "   " , i1)

10914784    <class 'int'>     10

In [ ]:
i2 = 10
print(id(i2), "  " ,type(i2) , "   " , i2)

10914784    <class 'int'>     10

In [ ]:
i2 = 11
print(id(i1), "  " ,type(i1) , "   " , i1)
print(id(i2), "  " ,type(i2) , "   " , i2)

10914784    <class 'int'>     10
10914816    <class 'int'>     11

In [ ]:
i2 = 10
print(id(i1), "  " ,type(i1) , "   " , i1)
print(id(i2), "  " ,type(i2) , "   " , i2)

10914784    <class 'int'>     10
10914784    <class 'int'>     10

In [ ]:
i3 = 11
print(id(i1), "  " ,type(i1) , "   " , i1)
print(id(i2), "  " ,type(i2) , "   " , i2)
print(id(i3), "  " ,type(i3) , "   " , i3)

10914784    <class 'int'>     10
10914784    <class 'int'>     10
10914816    <class 'int'>     11

In [ ]:
str1 = 'Amit'
print(id(str1), "  " ,type(str1) , "   " , str1)
str2 = 'Amit'
print(id(str2), "  " ,type(str2) , "   " , str2)
str3 = str2
print(id(str3), "  " ,type(str3) , "   " , str3)

139839599352216    <class 'str'>     Amit
139839599352216    <class 'str'>     Amit
139839599352216    <class 'str'>     Amit

In [ ]:
str2 ='Sumit'
print(id(str1), "  " ,type(str1) , "   " , str1)
print(id(str2), "  " ,type(str2) , "   " , str2)
print(id(str3), "  " ,type(str3) , "   " , str3)

139839599352216    <class 'str'>     Amit
139839599353224    <class 'str'>     Sumit
139839599352216    <class 'str'>     Amit

In [ ]:
print(str1, str2, str3,i1)

Amit Sumit Amit 10

###Operator

Python language supports the following types of operators.

* Arithmetic Operators ( +, - , /, ** , //,%,* )
* Comparison (Relational) Operators (== , != , >, < , <> , >= , <= )
* Assignment Operators (+=, -=, *= , **=, /=, //=, %=)
* Logical Operators ( and, or , not)  => return boolean value
* Bitwise Operators  ( & , | , ^ , >>, <<  , ~)
* Membership Operators (in , not in )
* Identity Operators ( is, not is)

In [ ]:
a, b = 10,20
print(a,b)
a=a+ b
print(a)
print(a,b)
a+=b   # assignment operator
print(a)

10 20
30
30 20
50

In [ ]:
a=11 ; b=2
print(a/b) #quotient float value
print(a//b) #quotient whole no
print(a%b) #remainder

5.5
5
1

In [ ]:
print( a<10 )

False

In [ ]:
a=11 ; b=2
x = ((a > 20) and (b<10))
print(x)
y =  not ((a > 20) and (b<10))
print(y)
print(((a > 20) or (b<10))) 
#   false or false  -> false
#   false or true   -> true
#   true  or false  -> true
#   true or true    -> true
print(not y)
a=0
print(not a)
print( not 0)

False
True
True
False
True
True

* Binary Operator ( & , | , ^ , >>, <<  , ~)
* Bitwise operator on binary digits 
```
a b   &  |  ^
0 0   0  0  0
0 1   0  1  1
1 0   0  1  1
1 1   1  1  0
```

In [ ]:
a=10 #    01010 binary value  
b=20 #    10100
#a & b    00000
#a | b    11110
#a ^ b    11110
print(a,b)
print( "a & b ",   a & b)
print( "a | b ",   a | b)
print( "a ^ b ",   a ^ b)

10 20
a & b  0
a | b  30
a ^ b  30

In [ ]:
a=14; b=18;
print(a,b)
print( "a & b ",   a & b)
print( "a | b ",   a | b)
print( "a ^ b ",   a ^ b)

14 18
a & b  2
a | b  30
a ^ b  28

In [ ]:
data=20
key=11 
enc =data ^ key 
print(enc)

31

In [ ]:
atreceiver = enc ^ key
print(atreceiver)

20

In [ ]:
# >> right shift (divide by 2)
# << left shift ( multiply by 2)

i1 = 10  #1010 >> 1
print(i1)
print(i1 >> 1)
print(i1 >> 2)
print(i1 <<1) # 1010  <<  10100
print(i1 <<4) # 10100000

10
5
2
20
160

In [ ]:
i1=10
print(i1, ~i1)

10 -11

In [ ]:
i2 = 0  #00000000
#11111111 take 2'complement of negative numbers 
#00000000 + 1 == (-)000000001

print(i2, ~i2)

0 -1

SyntaxError: ignored

Operator Precedance

```
	Operator & Description
 **  Exponentiation (raise to the power)
 ~ + -  Complement, unary plus and minus (method names for the last two are +@ and -@)
  / % // Multiply, divide, modulo and floor division
 + - Addition and subtraction
 >> <<   Right and left bitwise shift
 &    Bitwise 'AND'
 ^ |   Bitwise exclusive `OR' and regular `OR'
 <= < > >=  Comparison operators
 <> == !=  Equality operators
 = %= /= //= -= += *= **=  Assignment operators
 is is not   Identity operators
 in not in   Membership operators
 not or and   Logical operators
```

In [ ]:
#check the version of python

in case of C Language 
```
if (a>b) print(a)
else print(b)

(a>b) ? print(a) : print(b)
```

####Ternary Operator in Python


Ternary operators also known as conditional expressions are operators that evaluate something based on a condition being true or false. It was added to Python in version 2.5.
It simply allows to test a condition in a single line replacing the multiline if-else making the code compact.
```
Syntax :

[on_true] if [expression] else [on_false] 
```

In [ ]:
a, b = 10, 20
print(a,b) 

# Copy value of a in min if a < b else copy b 
min = a if a < b else b 
  
print(min)

10 20
10

In [ ]:
#Question 
# Python program to demonstrate nested ternary operator 
a, b = 10, 20
  
if a != b: 
    if a > b: 
        print("a is greater than b") 
    else: 
        print("b is greater than a") 
else: 
    print("Both a and b are equal")

b is greater than a

In [ ]:
#alternate ternary operator usuage
a, b = 10, 20
  
print ("Both a and b are equal" if a == b else 
                            ("a is greater than b" if a > b else "b is greater than a") )

b is greater than a

 **Advance Usuage**

In [ ]:

#Direct Method by using tuples, Dictionary and lambda
a, b = 10, 20
  
# Use tuple for selecting an item 
# (if_test_false,if_test_true)[test] 
print( (b, a) [a < b] ) 
  
# Use Dictionary for selecting an item 
print({True: a, False: b} [a < b]) 
  
# lamda is more efficient than above two methods 
# because in lambda  we are assure that 
# only one expression will be evaluated unlike in 
# tuple and Dictionary 
print((lambda: b, lambda: a)[a < b]())

10
10
10

### conditional Statement/Loops

In [ ]:
a ,b=20,30
a = eval(input("enter value of a :"))
b = eval(input("enter value of b :"))
#print(type(a))
if (a==b):
  print("a and b are equal")
elif(a>b):
  print(a)
else :  
  print(b)

enter value of a :23
enter value of b :12
<class 'int'>
23

In [ ]:
i=1
while(i<5):
  print(i)
  i = i+1
#else is optional 
else :
  print ("else")

1
2
3
4
else

In [ ]:
str = 'India'

for i in range(len(str)):
  print (i , str[i])

print("str[1:3] " , str[1:3])
print("str[1:] " , str[1:])
print("str[:3] " , str[:3])
print("str[:] " , str[:])

q = " is great"
print(str+q)
print( str*2)
#for x in str :
#  print (x)

0 I
1 n
2 d
3 i
4 a
str[1:3]  nd
str[1:]  ndia
str[:3]  Ind
str[:]  India
India is great
IndiaIndia

In [ ]:
for x in range(5):
  print(x)

0
1
2
3
4

In [ ]:
for x in range(2,5):  # range (start, stop, step )
  print(x)

2
3
4

In [ ]:
for x in range(2,50,4):
  print(x, end=" ")

2 6 10 14 18 22 26 30 34 38 42 46

In [ ]:
for x in range(200,50,-20):
  print(x)

200
180
160
140
120
100
80
60

In [ ]:
stu = ['amit','sita','kevin','himmat']
for s in stu:
  print(s)

amit
sita
kevin
himmat

### Functions

* function name can have multiple words
* good programming skill (convention)- inspire camel casing or hungarian notation e.g. checkPrime() , isOdd(), 
* proper documentation

In [2]:
def myadd1():
  a,b = 10,20
  #print(a+b)
  return (a+b)

In [ ]:
myadd1()

x = myadd1()
print(x)
#print(myadd2())

30

In [3]:
def myadd2(a,b):
  ''' this is the function to add two number passsed as arguments '''  #concept of reflection 
  return (a+b)

In [4]:
myadd2.__doc__

' this is the function to add two number passsed as arguments '

In [ ]:
myadd2(90,34)

124

In [ ]:
myadd1.__doc__

In [ ]:
def myaddc(a,b):
  a+=1
  b-=1
  print("inside "  , a,b)

#call by reference/value
x,y = 25,35
print("Outside before call " , x,y)
myaddc(x,y)
print("Outside after call " ,x,y)

Outside before call  25 35
inside  26 34
Outside after call  25 35

In [9]:
# default value assignment
def myadd(a,b,c=0):
  return (a+b+c)

In [10]:
myadd(10,20)

30

In [11]:
myadd(10,40,25)

75

In [12]:
# default value assignment
# if any argument is assigned a default value then all element right to that should have default value
def myadd(a,b,c=0,d):
  return (a+b+c+d)

SyntaxError: ignored

#### Recursion

In [29]:
#write a code to calculate factorial of given number 
no =4
no = eval(input("enter numbeer : "))
#res = 5 * 4 *3 * 2 * 1
#res = 1*2*3*4*5
res = 1

#for i in range (5,0,-1):
#for i in range (1, no+1 ):
  #print (i)
  #res =res *i

while no>0 : 
  res = res*no
  no =no-1

print(res)

enter numbeer : 5
120

In [30]:
def fact(n):
  ''' function to calculate factorial recursively '''
  #terminating condt
  if n==0 : 
    print("in n==0" )
    return 1
  else : 
    print("in else " , n)
    res = n * fact(n-1)
    print ("back in fact ",n , res)
    return res

In [34]:
x=fact(5)
print (x)

in else  5
in else  4
in else  3
in else  2
in else  1
in n==0
back in fact  1 1
back in fact  2 2
back in fact  3 6
back in fact  4 24
back in fact  5 120
120

In [ ]:
def fact1(n):
  ''' function to calculate factorial recursively '''

  return(  1 if n==0 else (n*fact1(n-1)))

  #if n==0 :    return 1
  #else :    return (n * fact1(n-1))
  #syntax
  #min = a if a < b else b

In [ ]:
fact1(6)

720

In [36]:
#calculate the decimal equavalent of given binary number
bno = 1010
#  16+ 8+4+2+1
print(bno)

def b2d(bno):
  dno=11
  return (dno)

1010

In [38]:
b2d(1010)

11

#### Pass by Value / reference

In [13]:
def method1 (a, b):
  print("received in method       "  ,a, id(a), b , id(b) )
  a+=1
  b-=1
  print("After change in method   "  ,a, id(a), b , id(b) )

In [14]:
x,y=20,25
print("Before calling method     "  ,x, id(x), y , id(y) )
method1(x,y)
print("After  calling method     "  ,x, id(x), y , id(y) )

Before calling method      20 10915104 25 10915264
received in method        20 10915104 25 10915264
After change in method    21 10915136 24 10915232
After  calling method      20 10915104 25 10915264

In [18]:
def method2 (arr):
  print("received in method        "  ,arr, id(arr) )
  #arr[1] +=20
  arr[2]  = [50,60]
  print("After change in method    "  ,arr, id(arr) )

In [19]:
ar = [10,20,30]
print("Before calling method     "  ,ar, id(ar) )
method2(ar)
print("After  calling method     "  ,ar, id(ar) )
# the argument passed as array/list to method will reflect the changes(made in method) back in called place

Before calling method      [10, 20, 30] 140423006857416
received in method         [10, 20, 30] 140423006857416
After change in method     [10, 20, [50, 60]] 140423006857416
After  calling method      [10, 20, [50, 60]] 140423006857416

#### Variable number of argument

In [ ]:
def printVariables( arg1, *vararg ): 
  print(arg1)
  for v in vararg :
    print (v)

In [ ]:
printVariables(10,20,30,40)

10
20
30
40

In [ ]:
printVariables(10,'amit',30,'india', 40)

10
amit
30
india
40

In [ ]:
printVariables(10)

10

In [ ]:
printVariables()

TypeError: ignored

In [ ]:
def printVariables1( *vararg ): 

  for v in vararg :
    print (v)

In [ ]:
printVariables1(10,20)

10
20

In [ ]:
printVariables1()

#### Anonymous Functions (Lamda)

In [ ]:
def myAdd(a,b):
  return a+b

In [ ]:
myAdd(10,20)

30

In [ ]:
#lambda is a keyword
sum = lambda arg1, arg2 : arg1 + arg2;

In [ ]:
sum(10,20)

30

In [ ]:
sum( )