In [1]:
def changeMe(a,b):
    print("inside changeme a =",a, "b = ",b)
    a=a+10
    b=b+20
    print("after change  a =",a, "b = ",b)

In [2]:
m=1;n=2;
changeMe(m,n)

inside changeme a = 1 b =  2
after change  a = 11 b =  22

In [3]:
m=1;n=2;
print("before changeme m =",m, "n = ",n)
changeMe(m,n)
print("after changeme m =",m, "n = ",n)

before changeme m = 1 n =  2
inside changeme a = 1 b =  2
after change  a = 11 b =  22
after changeme m = 1 n =  2

In [6]:
def changeMe(a,b):
    print("inside changeme a =",a, "b = ",b , "id(a) =",id(a), "id(b) = ",id(b))
    x=a
    x+=10
    b=b+20
    print("after change  a =",a, "b = ",b, "id(a) =",id(a), "id(b) = ",id(b))

In [7]:
m=1;n=2;
print("before changeme m =",m, "n = ",n , "id(m) =",id(m), "id(n) = ",id(n))
changeMe(m,n)
print("after changeme m =",m, "n = ",n , "id(m) =",id(m), "id(n) = ",id(n))

before changeme m = 1 n =  2 id(m) = 1947820192 id(n) =  1947820224
inside changeme a = 1 b =  2 id(a) = 1947820192 id(b) =  1947820224
after change  a = 1 b =  22 id(a) = 1947820192 id(b) =  1947820864
after changeme m = 1 n =  2 id(m) = 1947820192 id(n) =  1947820224

In [8]:
str="India"

In [12]:
def fact(n):
    if (n==0):
        print("n is zero ")
        return 1; 
    else: 
        print("value of n" , n)
        x=n * fact(n-1)
        print ("value of n*fact(n-1)" , x)
        return  ( x )

In [13]:
fact (3)

value of n 3
value of n 2
value of n 1
n is zero
value of n*fact(n-1) 1
value of n*fact(n-1) 2
value of n*fact(n-1) 6

6

In [11]:
fact(3)

6

In [14]:
str = "Indian"
str1 = reverseMe(str)

NameError: name 'reverseMe' is not defined

In [23]:
def printVar(a, *morevar):
    print (a)
    print("other argument")
    for x in morevar:
        print (x)

In [24]:
printVar(10)

10
other argument

In [27]:
printVar(10,20.5,'abc',40)

10
other argument
20.5
abc
40

# define a method in python to display mean/average of all/variable  aruguments  
#  calAverage(x,y)
# calAverage(x,y,z,m,a,x)

In [28]:
#	sum = lambda arg1, arg2 : arg1 + arg2; 
sum = lambda arg1, a2 : arg1 + a2 ;

In [29]:
sum(10,20)

30

In [30]:
sub(20,10)

NameError: name 'sub' is not defined

In [31]:
sub =  arg1, a2 : arg1 + a2 ;

SyntaxError: invalid syntax (<ipython-input-31-0c3118b2dcba>, line 1)

In [33]:
'''
1 . ROT13 is a weak form of encryption that involves “rotating” each letter in a word by 13 places.  Write a function to encrypt- decrypt passed text according to ROT13.
	rotCipher( string, ‘e’) / rotCipher( string, ‘d’) 
2. Write a function to check whether passed string is palindrome or not :  isPalindrome(word)

Write a function to check the argument passed is part of Fibonacci series or not .  isInFibo(x) returns true/false
Write a function to check the argument passed is prime number.  isPrime(x) returns true/false
Write a program to calculate the arithmetic mean of a variable number of values.  
Write a function to find letter in a word def find(word, letter)
Modify above function with third parameter specifying where to start the search def  find (word, letter, start)


'''

'\n1 . ROT13 is a weak form of encryption that involves “rotating” each letter in a word by 13 places.  Write a function to encrypt- decrypt passed text according to ROT13.\n\trotCipher( string, ‘e’) / rotCipher( string, ‘d’) \n2. Write a function to check whether passed string is palindrome or not :  isPalindrome(word)\n\nWrite a function to check the argument passed is part of Fibonacci series or not .  isInFibo(x) returns true/false\nWrite a function to check the argument passed is prime number.  isPrime(x) returns true/false\nWrite a program to calculate the arithmetic mean of a variable number of values.  \nWrite a function to find letter in a word def find(word, letter)\nModify above function with third parameter specifying where to start the search def  find (word, letter, start)\n\n\n'

In [34]:
str

'Indian'

In [35]:
str[0]

'I'

In [36]:
str[0] ='Z'

TypeError: 'str' object does not support item assignment

In [40]:
str= "India is great with good people"

In [41]:
str.upper()

'INDIA IS GREAT WITH GOOD PEOPLE'

In [42]:
str.capitalize()

'India is great with good people'

In [43]:
str.center(100)

'                                  India is great with good people                                   '

In [46]:
str *2

'India is great with good peopleIndia is great with good people'

In [53]:
('Good').upper() in str.upper()

True

In [56]:
s="India"

## List starting

In [57]:
type(s)

str

In [58]:
l=['a',1,'b',20.5]

In [59]:
type(l)

list

In [60]:
l[0]

'a'

In [61]:
for x in l: print (x)

a
1
b
20.5

In [62]:
l[:3]

['a', 1, 'b']

In [63]:
l[2:]

['b', 20.5]

In [64]:
l[:]

['a', 1, 'b', 20.5]

In [66]:
list1 = l*2

In [67]:
list1

['a', 1, 'b', 20.5, 'a', 1, 'b', 20.5]

In [71]:
list2 = [l] *2

In [72]:
list2

[['a', 1, 'b', 20.5], ['a', 1, 'b', 20.5]]

In [73]:
list2[0]

['a', 1, 'b', 20.5]

In [74]:
list2[0][3]

20.5

In [75]:
list2[0][3] = 40.4

In [76]:
list2

[['a', 1, 'b', 40.4], ['a', 1, 'b', 40.4]]

In [1]:
print (str)

<class 'str'>

In [2]:
s1 = "India"

In [7]:
for e in range(len(s1)-1,-1,-1) :
    print (s1[e])

a
i
d
n
I

In [11]:
## program for pallandrome

In [15]:
s1 = "madxyam"
st=0; end =len(s1)-1;
print(s1)
while st<end :
    print ('comparing ' ,s1[st] ,"  ", s1[end] )
    if s1[st] == s1[end] : print ("ok")
    else : print("Not Pall")
    st+=1
    end-=1

madxyam
comparing  m    m
ok
comparing  a    a
ok
comparing  d    y
Not Pall

In [9]:
s1[st]

'I'

In [10]:
s1[end]

'a'

In [20]:
s1 = "racecar" #"madam"
st=0; end =len(s1)-1; flag=0
print(s1)
while st<end :
    print ('comparing ' ,s1[st] ,"  ", s1[end] )
    if s1[st] != s1[end] : 
        flag=1
        break
    #else : print("Not Pall")
    st+=1
    end-=1
if (flag==1) :print ("not pallandrome")
else :print ("pallandrome")

racecar
comparing  r    r
comparing  a    a
comparing  c    c
pallandrome

In [32]:
def rfibo(a,b) :
    sum = a+b
    if sum<100 :
        print(sum)
        rfibo(b,sum)

In [33]:
rfibo(1,1)

2
3
5
8
13
21
34
55
89

In [34]:
s1="India"

In [35]:
# myReverse(s1)   -> aidnI
# addDigit(235)   -> 10
# addDigit(2571)   -> 15

AttributeError: 'str' object has no attribute 'reverse'

In [36]:
#list

In [37]:
list1=[10,2,4,56,34,2,33]

In [38]:
list1[3:6]

[56, 34, 2]

In [39]:
del list1[3]

In [40]:
list1

[10, 2, 4, 34, 2, 33]

In [41]:
list1[2:4]

[4, 34]

In [42]:
list1[2:4] = [] #shrinking

In [43]:
list1

[10, 2, 2, 33]

In [44]:
list1[3] =99

In [45]:
list1

[10, 2, 2, 99]

In [46]:
list1[3] =[99]

In [47]:
list1

[10, 2, 2, [99]]

In [48]:
list1.append(29)

In [49]:
list1

[10, 2, 2, [99], 29]

In [50]:
list1.pop()

29

In [51]:
list1.append([33,4,66])

In [52]:
list1

[10, 2, 2, [99], [33, 4, 66]]

In [53]:
list1.pop()

[33, 4, 66]

In [57]:
list1[3].append([2,5,8])

In [58]:
list1

[10, 2, 2, [99, 3, [2, 5, 8]]]

In [59]:
list1[3][2]

[2, 5, 8]

In [60]:
list1

[10, 2, 2, [99, 3, [2, 5, 8]]]

In [61]:
list1.reverse()

In [65]:
list1.sort()

TypeError: '<' not supported between instances of 'int' and 'list'

In [63]:
list1.append(2,4,5)

TypeError: append() takes exactly one argument (3 given)

In [66]:
list2 = ['22','43','2']

In [67]:
list2

['22', '43', '2']

In [68]:
list2.sort()

In [69]:
list2

['2', '22', '43']