In [5]:
a=10 ; b=20
print (b)

20

In [6]:
del a,b

In [8]:
print(b)

NameError: name 'b' is not defined

In [4]:
a=a+10

In [1]:
print (a)

NameError: name 'a' is not defined

In [3]:
import numpy #this is comment
a=1
a=a*5
print('value of a is ')
print (a)

value of a is
5

In [14]:
print('value of a is ' , a , ' too good')

value of a is  100  too good

In [1]:
#comment
a=10

In [2]:
print(a)

10

In [4]:
str='india'

In [5]:
str

'india'

In [6]:
print(str)

india

In [7]:
print str

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(str)? (<ipython-input-7-873859966bc3>, line 1)

In [8]:
print (str)

india

In [9]:
a=10

In [10]:
print (a)

10

In [15]:
a='India'

In [16]:
type(a)

str

In [13]:
a=10

In [9]:
a=10;b=2;c=a**b; print(c)

100

In [14]:
c=10.5/b; print (c);
c=11//b; print (c);

5.25
5

In [15]:
a= (b<20) ; print (a);

False

In [16]:
a= (b<20) ; print (a);

True

In [20]:
if (a  == True):
    print ('true') 
else :
    print ('false')

true

In [28]:
if ((a = (b<20))==True) :
    print('true')
else :
    print('false')

SyntaxError: invalid syntax (<ipython-input-28-8204665cc991>, line 1)

In [30]:
if (a = 10) :
    print('true')
else :
    print('false')

SyntaxError: invalid syntax (<ipython-input-30-66416af5ae86>, line 1)

In [27]:
a

NameError: name 'a' is not defined

In [10]:
x= int(input('enter number'))
if ( (x%2) == 0) : 
    print('even')
else :
    print('odd')

enter number22
even

In [15]:
print (x)
x+=26

22

In [16]:
print(x)

48

In [25]:
x= int(input('enter number'))
# check whether entered number is multiple of 5 and 7
if ( ((x%5)==0) & ((x%7) ==0 ) ) : 
    print('ok')
else :
    print('not ok ')

enter number35
ok

In [28]:
a=12;b=20; c=a&b; print (c)
a=12;b=20; c=a|b; print (c)
a=12;b=20; c=a^b; print (c)

4
28
24

In [29]:
c^a

20

In [30]:
c^b

12

In [31]:
x

35

In [32]:
(x%5)

0

In [33]:
x%5

0

In [1]:
(x%5) == 0

NameError: name 'x' is not defined

In [2]:
x= int(input('enter number'))
# check whether entered number is multiple of 5 and 7
if ( (x>0) or (x<100) ) : 
    print('ok')
else :
    print('not ok ')

enter number400
ok

In [3]:
x=10
x>>1

5

In [4]:
x>>2

2

In [5]:
x<<1

20

In [9]:
str = "Indian"
i=len(str);
while (i>0):
    print(" hello ",str[i-1],i)
    i=i-1

 hello  n 6
 hello  a 5
 hello  i 4
 hello  d 3
 hello  n 2
 hello  I 1

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
for i in range(2,5):
    print(i)

2
3
4

In [12]:
for i in range(2,15,3):
    print(i)

2
5
8
11
14

In [13]:
for i in range(50,10,-5):
    print(i)

50
45
40
35
30
25
20
15

In [14]:
str

'Indian'

In [15]:
for s in str:
    print (s)

I
n
d
i
a
n

In [16]:
states=['AP', 'Delhi', 'HP' , 'J&K']
print (states)

['AP', 'Delhi', 'HP', 'J&K']

In [17]:
for st in states:
    print(st)

AP
Delhi
HP
J&K

In [18]:
for i in range (len(states)) :
    print (i)

0
1
2
3

In [19]:
for i in range (len(states)) :
    print (states[i])

AP
Delhi
HP
J&K

In [22]:
print('hello \nsecond tab(\t) line')

hello
second tab(	) line