In [1]:
import numpy as np
heightdata = np.genfromtxt('data/president_heights.csv',delimiter=',',skip_header=1)

In [2]:

seattledata = np.genfromtxt('data/Seattle2014.csv',delimiter=',',skip_header=1)

In [9]:
import csv
#csv.reader(open('data/president_heights.csv','r'),delimiter=',')
# pdata = csv.reader(open('data/president_heights.csv','r'),delimiter=',')

In [8]:
pdata #output of above two commands is the same location as under

In [10]:
pdata = list(csv.reader(open('data/president_heights.csv','r'),delimiter=','))

In [11]:
print(pdata)

[['order', 'name', 'height(cm)'], ['1', 'George Washington', '189'], ['2', 'John Adams', '170'], ['3', 'Thomas Jefferson', '189'], ['4', 'James Madison', '163'], ['5', 'James Monroe', '183'], ['6', 'John Quincy Adams', '171'], ['7', 'Andrew Jackson', '185'], ['8', 'Martin Van Buren', '168'], ['9', 'William Henry Harrison', '173'], ['10', 'John Tyler', '183'], ['11', 'James K. Polk', '173'], ['12', 'Zachary Taylor', '173'], ['13', 'Millard Fillmore', '175'], ['14', 'Franklin Pierce', '178'], ['15', 'James Buchanan', '183'], ['16', 'Abraham Lincoln', '193'], ['17', 'Andrew Johnson', '178'], ['18', 'Ulysses S. Grant', '173'], ['19', 'Rutherford B. Hayes', '174'], ['20', 'James A. Garfield', '183'], ['21', 'Chester A. Arthur', '183'], ['23', 'Benjamin Harrison', '168'], ['25', 'William McKinley', '170'], ['26', 'Theodore Roosevelt', '178'], ['27', 'William Howard Taft', '182'], ['28', 'Woodrow Wilson', '180'], ['29', 'Warren G. Harding', '183'], ['30', 'Calvin Coolidge', '178'], ['31', 'Herbert Hoover', '182'], ['32', 'Franklin D. Roosevelt', '188'], ['33', 'Harry S. Truman', '175'], ['34', 'Dwight D. Eisenhower', '179'], ['35', 'John F. Kennedy', '183'], ['36', 'Lyndon B. Johnson', '193'], ['37', 'Richard Nixon', '182'], ['38', 'Gerald Ford', '183'], ['39', 'Jimmy Carter', '177'], ['40', 'Ronald Reagan', '185'], ['41', 'George H. W. Bush', '188'], ['42', 'Bill Clinton', '188'], ['43', 'George W. Bush', '182'], ['44', 'Barack Obama', '185']]

In [12]:
pdatat = tuple(csv.reader(open('data/president_heights.csv','r'),delimiter=','))

In [13]:
pdatat

(['order', 'name', 'height(cm)'],
 ['1', 'George Washington', '189'],
 ['2', 'John Adams', '170'],
 ['3', 'Thomas Jefferson', '189'],
 ['4', 'James Madison', '163'],
 ['5', 'James Monroe', '183'],
 ['6', 'John Quincy Adams', '171'],
 ['7', 'Andrew Jackson', '185'],
 ['8', 'Martin Van Buren', '168'],
 ['9', 'William Henry Harrison', '173'],
 ['10', 'John Tyler', '183'],
 ['11', 'James K. Polk', '173'],
 ['12', 'Zachary Taylor', '173'],
 ['13', 'Millard Fillmore', '175'],
 ['14', 'Franklin Pierce', '178'],
 ['15', 'James Buchanan', '183'],
 ['16', 'Abraham Lincoln', '193'],
 ['17', 'Andrew Johnson', '178'],
 ['18', 'Ulysses S. Grant', '173'],
 ['19', 'Rutherford B. Hayes', '174'],
 ['20', 'James A. Garfield', '183'],
 ['21', 'Chester A. Arthur', '183'],
 ['23', 'Benjamin Harrison', '168'],
 ['25', 'William McKinley', '170'],
 ['26', 'Theodore Roosevelt', '178'],
 ['27', 'William Howard Taft', '182'],
 ['28', 'Woodrow Wilson', '180'],
 ['29', 'Warren G. Harding', '183'],
 ['30', 'Calvin Coolidge', '178'],
 ['31', 'Herbert Hoover', '182'],
 ['32', 'Franklin D. Roosevelt', '188'],
 ['33', 'Harry S. Truman', '175'],
 ['34', 'Dwight D. Eisenhower', '179'],
 ['35', 'John F. Kennedy', '183'],
 ['36', 'Lyndon B. Johnson', '193'],
 ['37', 'Richard Nixon', '182'],
 ['38', 'Gerald Ford', '183'],
 ['39', 'Jimmy Carter', '177'],
 ['40', 'Ronald Reagan', '185'],
 ['41', 'George H. W. Bush', '188'],
 ['42', 'Bill Clinton', '188'],
 ['43', 'George W. Bush', '182'],
 ['44', 'Barack Obama', '185'])

In [23]:
# extract height from all records in list heights
#last column from heightdata

pdataArr = np.array(pdata ) #convert pdata-list into numpy array

In [30]:
#slice the  numpy array for extracting height column
height =(pdataArr[1:,2])

TypeError: only length-1 arrays can be converted to Python scalars

In [51]:
height

array(['189', '170', '189', '163', '183', '171', '185', '168', '173',
       '183', '173', '173', '175', '178', '183', '193', '178', '173',
       '174', '183', '183', '168', '170', '178', '182', '180', '183',
       '178', '182', '188', '175', '179', '183', '193', '182', '183',
       '177', '185', '188', '188', '182', '185'],
      dtype='<U22')

In [66]:
h1 =list([])  #creating empty list 
for ele in height:
    h1.append(  int(ele) )  #appending each element to list after type conversion to int


heights = np.array(h1)
print(heights)

[189 170 189 163 183 171 185 168 173 183 173 173 175 178 183 193 178 173
 174 183 183 168 170 178 182 180 183 178 182 188 175 179 183 193 182 183
 177 185 188 188 182 185]

In [45]:
indiapop = list(csv.reader(open('data/IndiaPopulation.csv','r'),delimiter=','))

In [46]:
#convert list to numpy array
indiapopArr = np.array(indiapop)
indiapopArr[:,0:5]

array([['Year', 'Population', 'Yearly % change', 'Yearly change',
        'Migrants (net)'],
       ['2018', '1,35,40,51,854', '1.11%', '1,48,71,727', '-4,90,000'],
       ['2017', '1,33,91,80,127', '1.13%', '1,50,08,773', '-4,90,000'],
       ['2016', '1,32,41,71,354', '1.15%', '1,51,17,374', '-4,90,000'],
       ['2015', '1,30,90,53,980', '1.24%', '1,56,14,658', '-5,15,643'],
       ['2010', '1,23,09,80,691', '1.47%', '1,73,72,403', '-5,82,766'],
       ['2005', '1,14,41,18,674', '1.67%', '1,82,13,552', '-3,90,182'],
       ['2000', '1,05,30,50,912', '1.86%', '1,85,13,623', '-1,43,380'],
       ['1995', '96,04,82,795', '2.00%', '1,80,69,863', '-1,10,587'],
       ['1990', '87,01,33,480', '2.17%', '1,76,93,362', '9,029'],
       ['1985', '78,16,66,671', '2.33%', '1,69,76,631', '1,16,619'],
       ['1980', '69,67,83,517', '2.32%', '1,50,96,359', '2,31,436'],
       ['1975', '62,13,01,720', '2.34%', '1,35,44,641', '4,28,664'],
       ['1970', '55,35,78,513', '2.15%', '1,11,75,230', '-69,036'],
       ['1965', '49,77,02,365', '2.06%', '96,44,351', '-21,142'],
       ['1960', '44,94,80,608', '1.89%', '80,42,311', '-30,805'],
       ['1955', '40,92,69,055', '1.69%', '65,88,771', '-21,142']],
      dtype='<U28')

In [36]:
indiapop

[['Year',
  'Population',
  'Yearly %ÿ',
  'Yearly',
  'Migrants (net)',
  'Median Age',
  'Fertility Rate',
  'Density (P/Kmý)',
  'Urban',
  'Urban Population',
  "Country's Share of",
  'World Population',
  'India'],
 ['',
  '',
  'Change',
  'Change',
  '',
  '',
  '',
  '',
  'Pop %',
  '',
  'World Pop',
  '',
  'Global Rank'],
 ['2018',
  '1,35,40,51,854',
  '1.11%',
  '1,48,71,727',
  '-4,90,000',
  '27',
  '2.41',
  '455',
  '32.50%',
  '44,99,45,237',
  '17.74%',
  '7,63,28,19,325',
  '2'],
 ['2017',
  '1,33,91,80,127',
  '1.13%',
  '1,50,08,773',
  '-4,90,000',
  '27',
  '2.41',
  '450',
  '32.80%',
  '43,98,01,466',
  '17.74%',
  '7,55,02,62,101',
  '2'],
 ['2016',
  '1,32,41,71,354',
  '1.15%',
  '1,51,17,374',
  '-4,90,000',
  '27',
  '2.41',
  '445',
  '32.50%',
  '42,98,02,441',
  '17.73%',
  '7,46,69,64,280',
  '2'],
 ['2015',
  '1,30,90,53,980',
  '1.24%',
  '1,56,14,658',
  '-5,15,643',
  '26.7',
  '2.44',
  '440',
  '32.10%',
  '41,99,38,867',
  '17.73%',
  '7,38,30,08,820',
  '2'],
 ['2010',
  '1,23,09,80,691',
  '1.47%',
  '1,73,72,403',
  '-5,82,766',
  '25.1',
  '2.8',
  '414',
  '30.30%',
  '37,29,01,884',
  '17.69%',
  '6,95,81,69,159',
  '2'],
 ['2005',
  '1,14,41,18,674',
  '1.67%',
  '1,82,13,552',
  '-3,90,182',
  '23.8',
  '3.14',
  '385',
  '28.80%',
  '32,95,16,783',
  '17.49%',
  '6,54,21,59,383',
  '2'],
 ['2000',
  '1,05,30,50,912',
  '1.86%',
  '1,85,13,623',
  '-1,43,380',
  '22.7',
  '3.48',
  '354',
  '27.40%',
  '28,83,65,219',
  '17.14%',
  '6,14,50,06,989',
  '2'],
 ['1995',
  '96,04,82,795',
  '2.00%',
  '1,80,69,863',
  '-1,10,587',
  '21.8',
  '3.83',
  '323',
  '26.50%',
  '25,43,14,016',
  '16.70%',
  '5,75,14,74,416',
  '2'],
 ['1990',
  '87,01,33,480',
  '2.17%',
  '1,76,93,362',
  '9,029',
  '21.1',
  '4.27',
  '293',
  '25.50%',
  '22,19,79,229',
  '16.32%',
  '5,33,09,43,460',
  '2'],
 ['1985',
  '78,16,66,671',
  '2.33%',
  '1,69,76,631',
  '1,16,619',
  '20.6',
  '4.68',
  '263',
  '24.40%',
  '19,03,38,784',
  '16.04%',
  '4,87,37,81,796',
  '2'],
 ['1980',
  '69,67,83,517',
  '2.32%',
  '1,50,96,359',
  '2,31,436',
  '20.2',
  '4.97',
  '234',
  '23.20%',
  '16,14,45,950',
  '15.63%',
  '4,45,84,11,534',
  '2'],
 ['1975',
  '62,13,01,720',
  '2.34%',
  '1,35,44,641',
  '4,28,664',
  '19.8',
  '5.41',
  '209',
  '21.40%',
  '13,27,32,329',
  '15.23%',
  '4,07,90,87,198',
  '2'],
 ['1970',
  '55,35,78,513',
  '2.15%',
  '1,11,75,230',
  '-69,036',
  '19.4',
  '5.72',
  '186',
  '19.80%',
  '10,97,09,315',
  '14.96%',
  '3,70,05,77,650',
  '2'],
 ['1965',
  '49,77,02,365',
  '2.06%',
  '96,44,351',
  '-21,142',
  '20.8',
  '5.9',
  '167',
  '18.80%',
  '9,35,40,800',
  '14.90%',
  '3,33,95,92,688',
  '2'],
 ['1960',
  '44,94,80,608',
  '1.89%',
  '80,42,311',
  '-30,805',
  '20.3',
  '5.9',
  '151',
  '17.90%',
  '8,05,86,315',
  '14.82%',
  '3,03,32,12,527',
  '2'],
 ['1955',
  '40,92,69,055',
  '1.69%',
  '65,88,771',
  '-21,142',
  '20.8',
  '5.9',
  '138',
  '17.60%',
  '7,19,06,548',
  '14.76%',
  '2,77,22,42,535',
  '2']]

In [49]:
indiapopG = np.genfromtxt('data/IndiaPopulation.csv',delimiter=',')

In [50]:
indiapopG

array([[             nan,              nan,              nan,
                     nan,              nan,              nan,
                     nan,              nan,              nan,
                     nan,              nan,              nan,
                     nan],
       [  2.01800000e+03,   1.35405185e+09,   1.11000000e-02,
          1.48717270e+07,  -4.90000000e+05,   2.70000000e+01,
          2.41000000e+00,   4.55000000e+02,   3.25000000e-01,
          4.49945237e+08,   1.77400000e-01,   7.63281932e+09,
          2.00000000e+00],
       [  2.01700000e+03,   1.33918013e+09,   1.13000000e-02,
          1.50087730e+07,  -4.90000000e+05,   2.70000000e+01,
          2.41000000e+00,   4.50000000e+02,   3.28000000e-01,
          4.39801466e+08,   1.77400000e-01,   7.55026210e+09,
          2.00000000e+00],
       [  2.01600000e+03,   1.32417135e+09,   1.15000000e-02,
          1.51173740e+07,  -4.90000000e+05,   2.70000000e+01,
          2.41000000e+00,   4.45000000e+02,   3.25000000e-01,
          4.29802441e+08,   1.77300000e-01,   7.46696428e+09,
          2.00000000e+00],
       [  2.01500000e+03,   1.30905398e+09,   1.24000000e-02,
          1.56146580e+07,  -5.15643000e+05,   2.67000000e+01,
          2.44000000e+00,   4.40000000e+02,   3.21000000e-01,
          4.19938867e+08,   1.77300000e-01,   7.38300882e+09,
          2.00000000e+00],
       [  2.01000000e+03,   1.23098069e+09,   1.47000000e-02,
          1.73724030e+07,  -5.82766000e+05,   2.51000000e+01,
          2.80000000e+00,   4.14000000e+02,   3.03000000e-01,
          3.72901884e+08,   1.76900000e-01,   6.95816916e+09,
          2.00000000e+00],
       [  2.00500000e+03,   1.14411867e+09,   1.67000000e-02,
          1.82135520e+07,  -3.90182000e+05,   2.38000000e+01,
          3.14000000e+00,   3.85000000e+02,   2.88000000e-01,
          3.29516783e+08,   1.74900000e-01,   6.54215938e+09,
          2.00000000e+00],
       [  2.00000000e+03,   1.05305091e+09,   1.86000000e-02,
          1.85136230e+07,  -1.43380000e+05,   2.27000000e+01,
          3.48000000e+00,   3.54000000e+02,   2.74000000e-01,
          2.88365219e+08,   1.71400000e-01,   6.14500699e+09,
          2.00000000e+00],
       [  1.99500000e+03,   9.60482795e+08,   2.00000000e-02,
          1.80698630e+07,  -1.10587000e+05,   2.18000000e+01,
          3.83000000e+00,   3.23000000e+02,   2.65000000e-01,
          2.54314016e+08,   1.67000000e-01,   5.75147442e+09,
          2.00000000e+00],
       [  1.99000000e+03,   8.70133480e+08,   2.17000000e-02,
          1.76933620e+07,   9.02900000e+03,   2.11000000e+01,
          4.27000000e+00,   2.93000000e+02,   2.55000000e-01,
          2.21979229e+08,   1.63200000e-01,   5.33094346e+09,
          2.00000000e+00],
       [  1.98500000e+03,   7.81666671e+08,   2.33000000e-02,
          1.69766310e+07,   1.16619000e+05,   2.06000000e+01,
          4.68000000e+00,   2.63000000e+02,   2.44000000e-01,
          1.90338784e+08,   1.60400000e-01,   4.87378180e+09,
          2.00000000e+00],
       [  1.98000000e+03,   6.96783517e+08,   2.32000000e-02,
          1.50963590e+07,   2.31436000e+05,   2.02000000e+01,
          4.97000000e+00,   2.34000000e+02,   2.32000000e-01,
          1.61445950e+08,   1.56300000e-01,   4.45841153e+09,
          2.00000000e+00],
       [  1.97500000e+03,   6.21301720e+08,   2.34000000e-02,
          1.35446410e+07,   4.28664000e+05,   1.98000000e+01,
          5.41000000e+00,   2.09000000e+02,   2.14000000e-01,
          1.32732329e+08,   1.52300000e-01,   4.07908720e+09,
          2.00000000e+00],
       [  1.97000000e+03,   5.53578513e+08,   2.15000000e-02,
          1.11752300e+07,  -6.90360000e+04,   1.94000000e+01,
          5.72000000e+00,   1.86000000e+02,   1.98000000e-01,
          1.09709315e+08,   1.49600000e-01,   3.70057765e+09,
          2.00000000e+00],
       [  1.96500000e+03,   4.97702365e+08,   2.06000000e-02,
          9.64435100e+06,  -2.11420000e+04,   2.08000000e+01,
          5.90000000e+00,   1.67000000e+02,   1.88000000e-01,
          9.35408000e+07,   1.49000000e-01,   3.33959269e+09,
          2.00000000e+00],
       [  1.96000000e+03,   4.49480608e+08,   1.89000000e-02,
          8.04231100e+06,  -3.08050000e+04,   2.03000000e+01,
          5.90000000e+00,   1.51000000e+02,   1.79000000e-01,
          8.05863150e+07,   1.48200000e-01,   3.03321253e+09,
          2.00000000e+00],
       [  1.95500000e+03,   4.09269055e+08,   1.69000000e-02,
          6.58877100e+06,  -2.11420000e+04,   2.08000000e+01,
          5.90000000e+00,   1.38000000e+02,   1.76000000e-01,
          7.19065480e+07,   1.47600000e-01,   2.77224254e+09,
          2.00000000e+00]])