In [1]:
a=10

In [2]:
print(a)

10

In [17]:
#c impl . for (i=0 ; i<5 ; i++) { }
for i in range (5):
    print(i)
    print ('hello')
print('outside')   
print(i)

1
hello
2
hello
3
hello
4
hello
outside
4

In [16]:
print(i)

40 years

In [15]:
i='40 years'

In [1]:
arr= [10,20,30]

In [2]:
arr

[10, 20, 30]

In [3]:
arr[2]

30

In [4]:
arr[3]

IndexError: list index out of range

In [11]:
a=10 ; b=20; 
(a==9)  or (b>15)

True

In [12]:
arr

[10, 20, 30]

In [13]:
10 in arr

True

In [14]:
str = 'Indian'

In [16]:
'A' in str

False

In [19]:
def singTwice():
    print("Incredible India")
    print("Having Great people")
    a=10
    return

In [20]:
singTwice()

Incredible India
Having Great people

10

In [21]:
b = singTwice()

Incredible India
Having Great people

In [22]:
b

10

In [4]:
print ('*' , end="-") ; print ('*',end="-")

*-*-

In [3]:
print('*') ; print('x')

*
x

In [18]:
for i in range (1,5):
    for j in range(0,i):
        print('* ' ,end=' ')
    print (' ') # go to next line

*
*  *
*  *  *
*  *  *  *

In [17]:
str='Indian'
for e in str:
    print (e)

I
n
d
i
a
n

In [28]:
a,b=(input('enter no'))

enter no100

ValueError: too many values to unpack (expected 2)

In [29]:
print (a,b,c)

10 20 -10

In [30]:
a,b = b,a

In [31]:
print (a,b,c)

20 10 -10

In [32]:
def printStar():
    print('Inside printstar')
    return

In [33]:
printStar()

Inside printstar

In [34]:
def printStar():
    for i in range (1,5):
        for j in range(0,i):
            print('* ' ,end=' ')
        print (' ') # go to next line
    return

In [35]:
printStar()

*
*  *
*  *  *
*  *  *  *

In [38]:
def printStar(line):
    for i in range (1,line+1):
        for j in range(0,i):
            print('* ' ,end=' ')
        print (' ') # go to next line
    return

In [39]:
printStar(4)

*
*  *
*  *  *
*  *  *  *

In [40]:
printStar(7)

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *  *

In [41]:
printStar()

TypeError: printStar() missing 1 required positional argument: 'line'

In [42]:
def printStar(line=4):  #default value for line
    for i in range (1,line+1):
        for j in range(0,i):
            print('* ' ,end=' ')
        print (' ') # go to next line
    return

In [43]:
printStar()

*
*  *
*  *  *
*  *  *  *

In [44]:
printStar(5)

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [45]:
arr = [1,2,3,4]

In [46]:
print (arr)

[1, 2, 3, 4]

In [47]:
arr[1]

2

In [48]:
arr[1:3] #slicing

[2, 3]

In [49]:
arr[1:]

[2, 3, 4]

In [50]:
arr[:2]

[1, 2]

In [52]:
arr1=arr[:] #shallow copy

In [53]:
arr1

[1, 2, 3, 4]

In [54]:
arr

[1, 2, 3, 4]

In [55]:
arr[1]=10

In [56]:
arr1

[1, 2, 3, 4]

In [57]:
arr

[1, 10, 3, 4]

In [58]:
arr2=arr

In [59]:
arr2

[1, 10, 3, 4]

In [60]:
arr

[1, 10, 3, 4]

In [61]:
arr[2]=15

In [62]:
arr2

[1, 10, 15, 4]

In [63]:
arr

[1, 10, 15, 4]

In [64]:
m=100

In [65]:
n=m

In [66]:
print ("m:", m, "     n :",n)

m: 100      n : 100

In [67]:
n=20

In [68]:
print ("m:", m, "     n :",n)

m: 100      n : 20

In [69]:
m=200

In [70]:
print ("m:", m, "     n :",n)

m: 200      n : 20

In [71]:
p=n+10

In [72]:
p

30