In [1]:
#program to add to number
num1=input('enter first number:')
num2=input('enter second number:')
sum=int(num1)+int(num2)
print('the sum of {0} and {1} is {2}'.format(num1,num2,sum))

enter first number:3
enter second number:4
the sum of 3 and 4 is 7

In [6]:
import csv
def read_csv(x):
    string_data = open(x).read()
    print(string_data)
    #convert ito lists
    string_list = string_data.split("\n")
    final_list = []
    print(string_list)
    
    for row in string_list:
        string_fields = row.split(",")
        #print (string_fields)
        
        
        int_fields = []
        for value in string_fields:
            int_fields.append((value))
        final_list.append(int_fields)
    return final_list

In [5]:
cdc_list = read_csv("US_births_1994-2003_CDC_NCHS.csv")
print(cdc_list)

"1994,1,1,6,8096"
"1994,1,2,7,7772"
"1994,1,3,1,10142"
"1994,1,4,2,11248"
"1994,1,5,3,11053"
"1994,1,6,4,11406"
"1994,1,7,5,11251"
"1994,1,8,6,8653"

['"1994,1,1,6,8096"', '"1994,1,2,7,7772"', '"1994,1,3,1,10142"', '"1994,1,4,2,11248"', '"1994,1,5,3,11053"', '"1994,1,6,4,11406"', '"1994,1,7,5,11251"', '"1994,1,8,6,8653"', '']
['"1994', '1', '1', '6', '8096"']
['"1994', '1', '2', '7', '7772"']
['"1994', '1', '3', '1', '10142"']
['"1994', '1', '4', '2', '11248"']
['"1994', '1', '5', '3', '11053"']
['"1994', '1', '6', '4', '11406"']
['"1994', '1', '7', '5', '11251"']
['"1994', '1', '8', '6', '8653"']
['']

In [7]:
print(cdc_list)

[['"1994', '1', '1', '6', '8096"'], ['"1994', '1', '2', '7', '7772"'], ['"1994', '1', '3', '1', '10142"'], ['"1994', '1', '4', '2', '11248"'], ['"1994', '1', '5', '3', '11053"'], ['"1994', '1', '6', '4', '11406"'], ['"1994', '1', '7', '5', '11251"'], ['"1994', '1', '8', '6', '8653"'], ['']]