In [1]:
#list
header= ['fname','lname']
stu1 = ['amrit','kumar']

In [2]:
print (header, stu1)

['fname', 'lname'] ['amrit', 'kumar']

In [3]:
studentHeader = zip(header, stu1)

In [6]:
list(studentHeader)

[('fname', 'amrit'), ('lname', 'kumar')]

In [7]:
#list
header= ['fname','lname','Rollno']
stu1 = ['amrit','kumar']

In [8]:
studentHeader = zip(header, stu1)

In [9]:
list(studentHeader)

[('fname', 'amrit'), ('lname', 'kumar')]

In [10]:
print (header, stu1)

['fname', 'lname', 'Rollno'] ['amrit', 'kumar']

In [11]:
#list
header= ['fname','lname','Rollno']
stu1 = [['amrit','kumar'] ,['sita','devi']]

In [13]:
print (header,'\n', stu1)

['fname', 'lname', 'Rollno']
 [['amrit', 'kumar'], ['sita', 'devi']]

In [14]:
studentHeader = zip(header, stu1)
fList = list(studentHeader)

In [15]:
fList

[('fname', ['amrit', 'kumar']), ('lname', ['sita', 'devi'])]

In [16]:
h,s = zip(*fList)

In [17]:
print (header,'\n', stu1)
print ('\n',h,'\n', s)

['fname', 'lname', 'Rollno']
 [['amrit', 'kumar'], ['sita', 'devi']]

 ('fname', 'lname')
 (['amrit', 'kumar'], ['sita', 'devi'])

In [18]:
#list
header= ['fname','lname','Rollno']
stu1 = ['amrit','kumar']
stu2 = ['sita','devi']

In [19]:
zipStudent= zip(header, stu1,stu2)

In [20]:
list(zipStudent)

[('fname', 'amrit', 'sita'), ('lname', 'kumar', 'devi')]

In [21]:
## tuple

In [22]:
t1 = (10,'amit','katrina',200.50)

In [23]:
type (t1)

tuple

In [24]:
t1[0]

10

In [25]:
t1[2:]

('katrina', 200.5)

In [26]:
t1*2

(10, 'amit', 'katrina', 200.5, 10, 'amit', 'katrina', 200.5)

In [27]:
list(t1)

[10, 'amit', 'katrina', 200.5]

In [29]:
'amit' in t1

True

In [36]:
for x in t1:
    #type check kare
    if type(x) is str :
        print (x)

amit
katrina

In [34]:
type('abc')

str

In [48]:
t1 = (10,'amit','katrina',('dinesh','virat',20.20,'anu',23), 200.50,(30,('dinesh',90),20.30))
for x in t1:
    #type check kare
    if type(x) is str :
        print (x)
    if type(x) is tuple:
        print('--->this is tuple')
        for y in x:
            if type(y) is str : print (y)

amit
katrina
--->this is tuple
dinesh
virat
anu
--->this is tuple

In [49]:
###dictionary

In [50]:
dict1={}

In [51]:
type (dict1)

dict

In [52]:
dict1={'fname':'amrit' ,'rollno':21 }

In [53]:
dict1

{'fname': 'amrit', 'rollno': 21}

In [57]:
help(dict1.update)

Help on built-in function update:

update(...) method of builtins.dict instance
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [58]:
dict1.update({'lname':'kumar'})

In [59]:
dict1

{'fname': 'amrit', 'lname': 'kumar', 'rollno': 21}

In [65]:
dict2={ 'rollno':21,'fname':'amrit' ,'10' :30.30 }

In [66]:
dict2

{'10': 30.3, 'fname': 'amrit', 'rollno': 21}

In [69]:
dict2['fname'] ='Sita Deve'

In [70]:
dict2

{'10': 30.3, 'fname': 'Sita Deve', 'rollno': 21}

In [71]:
dict2.items()

dict_items([('rollno', 21), ('fname', 'Sita Deve'), ('10', 30.3)])